@font-face {
    font-family: Netflix;
    src: url(fonts/NetflixSans-Regular.otf);
}
body{
    box-sizing: border-box !important;
}
.font-netflix{
    font-family: Netflix !important;
}
.gradient-bg{
    background: linear-gradient(149deg, #192247 0%, #210e17 99.08%);
}
bg{
    background-color: #272626;
}
/* css I applied for swiper library  */
.card-wrapper{
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}