@font-face {
    font-family: Netflix;
    src: url(fonts/NetflixSans-Regular.otf);
}
body{
    box-sizing: border-box !important;
}
.font-netflix{
    font-family: Netflix !important;
}
.gradient-bg{
    background: linear-gradient(149deg, #192247 0%, #210e17 99.08%);
}