@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Netflix Sans;
    src: url(/fonts/NetflixSans-Regular.otf);
}
.Netflix-Sans{
    font-family:  Netflix Sans, 
    /* Helvetica Neue, Segoe UI, Roboto, Ubuntu,  */
    sans-serif !important;
}
.bg-img{
    background-image: url(/images/hero\ bg.jpg);
}